@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  @font-face {
      font-family: 'KarenFat';
      src: url('/fonts/KarenFat.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }


html,body {
  width: 100%;
  height: 100%;
  font-family: 'KarenFat'
}




.habits-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adjust gap as necessary */
  padding: 4px; /* Optional padding for better appearance */
  align-items: center;
  position: relative;
  max-height: 80vh;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

@media (max-width: 1500px) {
  .habits-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    gap: 16px;
  }
}

@media (max-width: 875px) {
  .habits-container {
    grid-template-columns: 1fr; /* Single column layout for smaller devices */
    justify-items: center; /* Horizontally center the items */
    align-items: start; /* Align items to the start vertically */
  }
}

/* .goals-container {
} */

.milestone-circle {
  position: absolute; /* Allows precise placement along the bar */
  transform: translateX(-50%); /* Centers the circle at the calculated point */
}

.onhover:hover {
  color: #008000;
}

.icon {
  position: absolute;
  left: 50%;
  bottom: 2px; /* Distance above the circle */
  transform: translate(-50%, -100%); /* Center the icon horizontally and lift it up entirely above the circle */
  display: flex; /* Helps keep the SVG icon centered if it has any inherent alignment issues */
  align-items: center;
  justify-content: center;
}

.goal-card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  min-height: 193.33px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1.5rem;
  transition: max-height 0.3s ease;
}

.goal-card.collapsed {
  max-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goal-card.expanded {
  max-height: none; /* Remove max-height restriction when expanded */
  overflow: auto; /* Allow scrolling if content overflows */
}

.goals-container {
  overflow-y: auto; /* Ensure overflow is handled properly */
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-auto-rows: auto;
}

@media (max-width: 900px) {
  .goals-container {
    grid-template-columns: 1fr; /* Change to a single column layout */
    max-height: none;
  }

  .goal-card.expanded {
    max-height: none; /* Ensure max-height is removed for smaller screens */
    overflow: auto; /* Allow scrolling if content overflows */
  }
  .goal-card.collapsed {
    max-height: 252px; /* Maintain collapsed height on smaller screens */
  }
}

@media (max-width: 1200px) {
  .hidden-on-goal {
    display: none;
  }
}

/* styles.css */

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@keyframes borderRotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.animated-border {
  border: 0.35rem solid;
  border-image: conic-gradient(
    from var(--angle),
    rgba(152, 228, 165, 0.1),
    #98E4A5 0.1turn,
    #98E4A5 0.15turn,
    rgba(152, 228, 165, 0.1) 0.25turn
  ) 30;
  animation: borderRotate 2s linear infinite forwards;
  overflow: hidden; /* Ensure child elements don't overflow the border radius */
  position: relative; /* Ensure the gradient border respects the border radius */
}

.animated-border::before {
  content: '';
  position: absolute;
  top: -0.35rem;
  right: -0.35rem;
  bottom: -0.35rem;
  left: -0.35rem;
  border-radius: inherit;
  padding: 1rem;
  border: 0.35rem solid transparent;
  border-image: conic-gradient(
    from var(--angle),
    rgba(152, 228, 165, 0.1),
    #98E4A5 0.1turn,
    #98E4A5 0.15turn,
    rgba(152, 228, 165, 0.1) 0.25turn
  ) 30;
  animation: borderRotate 2s linear infinite forwards;
  z-index: -1;
}

.square-grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.square-grid-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
