.cell, .bar {
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: white !important;  /* Use !important to override inline styles */
    border: 2px solid #98E4A5 !important;
}

.bar:hover {
    background-color: white !important;  /* Use !important to override inline styles */
    border: 1px solid #98E4A5 !important;
}


/* habits.css */
.habit-card {
  background-color: white;
  border-radius: 15px;
  padding: 16px;
  height: 200px;
  width: 10vw;

}

.habit-data {
    background-color: #f3dfbe;
    border-radius: 15px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 1200px;
  }

.habit-card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-height: 70vh;
  height: fit-content;
  overflow-y: auto;
}

.habit-data.collapsed {
    padding: 8px;
    grid-template-columns: 1fr; /* Simplify the grid to a single column */
    min-height: 180px; 
    max-width: 320px !important;
    max-height: 180px; 
}
.habit-data::before,
.habit-data::after,
.habit-data .corner-borders::before,
.habit-data .corner-borders::after {
  content: '';
  position: absolute;
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border: 10px solid #C0D470;
  background-color: transparent; /* Ensure the background is transparent */
}

.habit-data::before {
  top: -6px;
  left: -6px;
  border-width: 10px 0 0 10px;
}

.habit-data::after {
  top: -6px;
  right: -6px;
  border-width: 10px 10px 0 0;
}

.habit-data .corner-borders::before {
  bottom: -6px;
  left: -6px;
  border-width: 0 0 10px 10px;
}

.habit-data .corner-borders::after {
  bottom: -6px;
  right: -6px;
  border-width: 0 10px 10px 0;
}

.habit-data .button-container {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1; /* Ensure the buttons are above the borders */
  display: flex;
  gap: 5px;
}


  /* Media Query to adjust layout for screens smaller than 1100px */
  /* @media (max-width: 1500px) {
    .habit-data {
      flex-direction: column;
      max-height: none;
      max-width: 320px !important;
    }
    .habit-name, .habit-heatmap, .habit-bar-graph {
      grid-column: span 12; /* Make each section span full width */
    /* } */
    /* .habit-bar-graph {
        min-height: 150px;
    }
    .habit-progress-circle, .habit-increment-area {
        grid-column: span 6;
    }
    .habit-dashboard {
      display: flex;

      gap: 20px;
    }
    .habit-card-container {
      max-height: 80vh;
      height: fit-content;
      overflow-y: auto;
    }
  } */
