.goal-description {
  width: 50%;
}

@media (max-width: 1200px) {
  .goal-metrics {
    display: none;
  }
  .goal-description {
    width: 100%;
  }
  .milestone-title {
    display: flex;
    flex-direction: column;
  }
}

