.schedule-grid {
  position: relative;
}

.time-block {
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeblock-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.small-timeblock .timeblock-labels {
  flex-direction: row;
}

.block-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.small-timeblock .block-tasks {
  margin-top: 0;
  justify-content: flex-start;
}

.block-name {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* Adjust gap as needed */
}

.block-name svg {
  vertical-align: middle; /* Ensure SVG icons are vertically aligned */
}

.dialog-content {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dialog-tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  background-color: transparent;
  transition: background-color 0.3s;
}

.dialog-task:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dialog-task input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.summary-box {
  width: 15vw;
  height: 15vw;
  max-height: 180px;
  max-width: 180px;
}